<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table width="100%">
        <tr>
            <td>
                <p>Up Next</p>
            </td>

            <td>
                <input style="background-color: rgb(51, 51, 230);" type="button" value="Autoplay">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <iframe width="150px" height="100px" src="https://www.youtube.com/embed/kmob05pHHYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <p>
                    <b>Dance+ 3 | Surprising SRK</b> StarPlus 60M views 3 years ago
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <iframe width="150px" height="100px" src="https://www.youtube.com/embed/kmob05pHHYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <p>
                    <b>Dance+ 3 | Surprising SRK</b> StarPlus 60M views 3 years ago
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <iframe width="150px" height="100px" src="https://www.youtube.com/embed/kmob05pHHYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <p>
                    <b>Dance+ 3 | Surprising SRK</b> StarPlus 60M views 3 years ago
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <iframe width="150px" height="100px" src="https://www.youtube.com/embed/kmob05pHHYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <p>
                    <b>Dance+ 3 | Surprising SRK</b> StarPlus 60M views 3 years ago
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <iframe width="150px" height="100px" src="https://www.youtube.com/embed/kmob05pHHYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <p>
                    <b>Dance+ 3 | Surprising SRK</b> StarPlus 60M views 3 years ago
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <iframe width="150px" height="100px" src="https://www.youtube.com/embed/kmob05pHHYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <p>
                    <b>Dance+ 3 | Surprising SRK</b> StarPlus 60M views 3 years ago
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <iframe width="150px" height="100px" src="https://www.youtube.com/embed/kmob05pHHYY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <p>
                    <b>Dance+ 3 | Surprising SRK</b> StarPlus 60M views 3 years ago
                </p>
            </td>
        </tr>
    </table>

</body>

</html>