<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td><img src="{{url_for('static',filename='movies.png')}}" alt="">
                <p>Movies</p>
            </td>
            <td><img src="{{url_for('static',filename='music.png')}}" alt="">
                <p>Music</p>
            </td>
            <td><img src="{{url_for('static',filename='gaming.png')}}" alt="">
                <p>Gaming</p>
            </td>
            <td><img src="{{url_for('static',filename='news.png')}}" alt="">
                <p>News</p>
            </td>
            <td><img src="{{url_for('static',filename='beauty.png')}}" alt="">
                <p>Fashion&Beauty</p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><iframe width="400" height="200" src="https://www.youtube.com/embed/pmE5emWBykE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            <td>
                <p>
                    <b>Riding 2 Mini Electric Bikes in Public | Funny Reaction + Bikes Giveaway
                    Crazy XYZ</b>
                </p>
                <p>
                    2.3M views 1 day ago Giveaway <a style="color: black;" href="https://gleam.io/TOhJn/2-mini-electric-bike-giveaway">Link: https://gleam.io/TOhJn/2-mini-electric-bike-giveaway</a> Hello guys, is video me humne 2 choti electric bikes
                    ko public me chalya hai.
                </p>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td><iframe width="400" height="200" src="https://www.youtube.com/embed/iA1e4-dZavo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            <td>
                <p>
                    <b>CHOTU DADA KE MASK KA JUGAAD | छोटू के मास्क | Khandesh Hindi Comedy | Chotu Dada Comedy Video</b>
                </p>
                <p>

                    Jkk Entertainment 4.8M views 2 days ago छोटू दादा के मास्क | दोस्तों आप ने इंसानों को मास्क लगाते हुए देखा ही होगा..
                </p>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td><iframe width="400" height="200" src="https://www.youtube.com/embed/k5Yk5TVhDvQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            <td>
                <p>
                    <b>The Dealer | ACV Hatke | Barkha Singh | Ashish Chanchlani</b>
                </p>
                <p>

                    ashish chanchlani vines 11M views 1 day ago @Barkha Singh ko subscribe kar lo pehle ladki bahut zyada talented hai : https://www.youtube.com/channel/UCKbGPpepdFDgJ0FMM90aI7g aur instagram par bhi follow karo : https://www.instag
                </p>
            </td>

        </tr>
    </table>


</body>

</html>